In [7]:
def formatRupee(number):
    s, *d = str(number).partition(".")     #separating the decimal value and stroing in s, d variables like 46.7 so s= 46 and d=7    
    r = ",".join([s[x-2:x] for x in range(-3, -len(s), -2)][::-1] + [s[-3:]])   # attaching ',' in the pattern of INR like after first 3digits then 2 digits and so on 
    return "".join([r] + d)       # returning the final rupee value

In [8]:
formatRupee(15426) # calling the function

'15,426'

In [9]:
formatRupee(456789.789) # calling the function with decimal

'4,56,789.789'

In [20]:
# 2. 
# When input has to be taken from the user
# input the no of test cases
i = int(input("No of test cses"))   
# Loop for i no of test cases
for j in range(i):
  # input the no of people in between and the height of ali and Gi-Hun 
  N = int(input(" People"))
  K= int(input("Height"))
  l=[]
  # for the no of people
  for h in range(N):
 # range of height of all the people
    b= int(input("Rnge of height"))
    # converting to a list 
    l.append(b)
    # for storing minimum no of people to be shot
  count=0
  # for checking the no of people who need to be shot
  for j in l:
    # if someone's height is greater than the height of ali then 
    if j>K:
      # count value is incremented 
      count+=1  
  print(count)

No of test cses3
 People4
Height10
Rnge of height2
Rnge of height13
Rnge of height4
Rnge of height16
2
 People5
Height8
Rnge of height9
Rnge of height3
Rnge of height8
Rnge of height8
Rnge of height4
1
 People4
Height6
Rnge of height1
Rnge of height2
Rnge of height3
Rnge of height4
0

In [21]:
# when input is in the form of string  
t = int(input())
for i in range(t):
    N,K=map(int,input().split())
    a=list(map(int,input().split()))
    count =0
    for i in a:
        if i>K:
            count= count + 1
    print(count)

1
4 10
12 4 16 9
2